# Data Cleaning: iris

## About Dataset

### What do the instances in this dataset represent?

Each instance is a plant

### Additional Information

This is one of the earliest datasets used in the literature on classification methods and widely used in statistics and machine learning.  The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are not linearly separable from each other.

Predicted attribute: class of iris plant.

This is an exceedingly simple domain.

This data differs from the data presented in Fishers article (identified by Steve Chadwick,  spchadwick@espeedaz.net ).  The 35th sample should be: 4.9,3.1,1.5,0.2,"Iris-setosa" where the error is in the fourth feature. The 38th sample: 4.9,3.6,1.4,0.1,"Iris-setosa" where the errors are in the second and third features.

### Acknowledgements

Park, S. M. (2021, August 16). EEG machine learning. Retrieved from osf.io/8bsvr

In [1]:
import pandas as pd
import numpy as np
#from sklearn import dataset

target_names = {
    'Iris-setosa': 0,
    'Iris-versicolor': 1,
    'Iris-virginica': 2
}

nRowsRead = None
COLUMNS = ('sepal l', 'sepal w', 'petal l', 'petal w', 'target_name')
#referencio en la variable data_path
data_path = "./iris.data"


data_iris = pd.read_csv(data_path, delimiter=',', nrows=nRowsRead, names=COLUMNS, encoding = "ISO-8859-1")

#data_iris['target'] = target
data_iris['target'] = data_iris['target_name'].map(target_names)
#data_iris['target_name'] = data_iris['target'].map(target_names)


print(data_iris)

     sepal l  sepal w  petal l  petal w     target_name  target
0        5.1      3.5      1.4      0.2     Iris-setosa       0
1        4.9      3.0      1.4      0.2     Iris-setosa       0
2        4.7      3.2      1.3      0.2     Iris-setosa       0
3        4.6      3.1      1.5      0.2     Iris-setosa       0
4        5.0      3.6      1.4      0.2     Iris-setosa       0
..       ...      ...      ...      ...             ...     ...
145      6.7      3.0      5.2      2.3  Iris-virginica       2
146      6.3      2.5      5.0      1.9  Iris-virginica       2
147      6.5      3.0      5.2      2.0  Iris-virginica       2
148      6.2      3.4      5.4      2.3  Iris-virginica       2
149      5.9      3.0      5.1      1.8  Iris-virginica       2

[150 rows x 6 columns]

In [55]:
data_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sepal l      150 non-null    float64
 1   sepal w      150 non-null    float64
 2   petal l      150 non-null    float64
 3   petal w      150 non-null    float64
 4   target_name  150 non-null    object
 5   target       150 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [56]:
data_iris.isnull().sum()

sepal l        0
sepal w        0
petal l        0
petal w        0
target_name    0
target         0
dtype: int64

In [63]:
data_iris.describe()

          sepal l     sepal w     petal l     petal w      target
count  150.000000  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667    1.000000
std      0.828066    0.433594    1.764420    0.763161    0.819232
min      4.300000    2.000000    1.000000    0.100000    0.000000
25%      5.100000    2.800000    1.600000    0.300000    0.000000
50%      5.800000    3.000000    4.350000    1.300000    1.000000
75%      6.400000    3.300000    5.100000    1.800000    2.000000
max      7.900000    4.400000    6.900000    2.500000    2.000000

In [64]:
mean = data_iris['target'].mean()
median = data_iris['target'].median()
mode = data_iris['target'].mode()[0]
print("La media es ", mean)
print("La mediana es ", median)
print("La moda es ", mode)

La media es  1.0
La mediana es  1.0
La moda es  0